/* ESTILOS PROYECTO CASA INTELIGENTE */

/* Elementos útiles */
/* Botones */
.boton {
    display: inline-block;
    padding: 10px 20px;
    color: #222;
    font-family: 'Segoe UI';
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.boton-1 {
    background-color: #ffd814;
    border: 1px solid #ffd814;
}

.boton-2 {
    background-color: rgb(55, 176, 237);
    border: 1px solid rgb(55, 176, 237);
}

.boton-3 {
    background-color: lightgray;
    border: 1px solid lightgray;
    display: inline-block;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #11A;
    font-weight: bold;
}

a:hover {
    color: #844;
}


/* Contenido de las páginas */
/* BODY - Aplica a todos los elementos visibles */
body {
    font-family: 'Segoe UI';
    background-color: #f4f4f4;
    color: #222;
}


/* Separar secciones del body */
header, section, footer {
    width: 90%;
    margin: 20px auto;
}

/* Cabecera */
header {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px lightgray; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.submenu {
    display: none;
    text-align: left;
    padding: 0 0 0 25px;
    color: rgb(108, 108, 214);
}

nav ul li:hover > .submenu {
    display: block;
}

/* Secciones */
section {
    background-color: white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px lightgray;
    padding: 20px;
}

/* Listados */
.viviendas, .estancias, .dispositivos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

/* Tarjetas */
article {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 2px 5px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

article span {
    color: #224;
}

/* Movimiento al pasar el ratón */
article:hover {
    box-shadow: 0 8px 15px lightgray;
    transform: translateY(-4px);
}

/* Formularios */
.formulario fieldset {
    border: 2px solid lightslategray;
    border-radius: 8px;
    margin: 20px 0 20px;
    padding: 15px;
}

.formulario legend {
    font-weight: bold;
    color: darkslategrey;
}

.formulario label {
    display: block;
    margin-top: 14px;
    margin-bottom: 3px;
    color: darkslategray;
    font-weight: 500;
}

.contenedor-password {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.formulario input {
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

.formulario input[type="number"] {
    width: 80%;
}

.formulario input:focus {
    border-color: #844;
    outline: none;
    box-shadow: 0 0 5px #844;
}

.formulario button[type="submit"] {
    width: 100%;
    font-size: 1.1rem;
}

/* Footer */
footer {
    text-align: left;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid lightgray;
}
